body {
  background: #539659;
}
* {
  box-sizing: border-box;
}
header {
  padding: 1em;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 50px;
  background: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  opacity: 0.8;
}
.grid {
  max-width: 90vw;
  min-height: 90vh;
  margin: 0 auto;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr);
  // grid-column-gap: 1vw;
  // grid-row-gap: 1vw;
  grid-gap: 1vw;
  // grid-auto-rows: minmax(300px, auto);
  grid-auto-rows: 50vh;
}

.img {
  max-width: 100%;
  filter: contrast(150%);
}
.box {
  padding: 0.5vw 1vw;
  &:nth-child(odd) {
    background: #f0f0f0;
  }
  &:nth-child(even) {
    background: white;
  }
}
